In [1]:
import pandas as pd
import datetime
import math
import numpy

Burpple = pd.read_excel(r"(TP) From2016_Sentimental_Burpple.xlsx")
Dates = Dates = Burpple['Date'].tolist()

condition = ''
Form = []
why = []
day = ''
mon = ''
year = ''
monyear = ''
Date = ''

for i in Dates:
    
    condition = i.split()[2]
    
    if condition == "ago":
        day = i.split()[0]
        monyear = "May 2018"
        year = "2018"
        Date = day + " " + monyear
        Form.append(Date)
        why.append(year)
        
    elif condition == "at":
        mon = i.split()[0]
        day = i.split()[1]
        year = "2018"
        Date = day+" "+ mon + " 2018"
        Form.append(Date)
        why.append(year)
        
    else:
        day = i.split()[1]
        day = day.replace(',','')
        mon = i.split()[0]
        year = i.split()[2]
        Date = day + " " + mon + " " + year
        Form.append(Date)
        why.append(year)
        
 
              
num = len(Burpple)
NewDate = []
Quart = []
Q = 0
yy = ''
strdate = ''

for i in range (0, num):
    Date = datetime.datetime.strptime(Form[i], '%d %b %Y').strftime('%d/%m/%Y')
    Date = datetime.datetime.strptime(Date,'%d/%m/%Y')
    
    NewDate.append(Date)

    Q=math.ceil(Date.month/3.)
    #print(Q)
    Quart.append(Q)
    
    #strdate = str(Date)
    #yy = Date.Year
    #bpyear.append(yy)
    
       
FormatDate = pd.Series(NewDate)
Burpple['Formated_Date'] = FormatDate.values

Quarter = pd.Series(Quart)
Burpple['Quarter'] = Quarter.values

Year = pd.Series(why)
Burpple['Year'] = Year.values

ex = pd.ExcelWriter('(TP) Quarters.xlsx', options={'encoding':'utf-8'})
Burpple.to_excel(ex, 'Data', index=False)

#AllNames = Burpple.groupby('Café_Names', sort=False, as_index=False).Title.count().reset_index(drop=True)
#NoR = AllNames['Title'].tolist()


### sorting the data by Years

y2016 = pd.DataFrame()
y2017 = pd.DataFrame()
y2018 = pd.DataFrame()
No2016 = []
No2017 = []
No2018 = []

for i in range (0, num):
    if why[i] == '2016':
        No2016.append(i)
    if why[i] == '2017':
        No2017.append(i)
    if why[i] == '2018':
        No2018.append(i)
    
y2016 = pd.DataFrame(Burpple.iloc[No2016])
y2017 = pd.DataFrame(Burpple.iloc[No2017])
y2018 = pd.DataFrame(Burpple.iloc[No2018])


y2016 = y2016.reset_index(drop = True)
y2017 = y2017.reset_index(drop = True)
y2018 = y2018.reset_index(drop = True)

#next decide how you want to split the data.
#seperate each year into diff files? How about the average sentiment?

###  Resturant  Avg_sentiment Quarter_1 Quarter_2 Quarter_3 Quarter_4
###  xxx        0.01          0.2       0.021     0.45      0.46

In [2]:
### for the year 2018

AllNames2018 = y2018.groupby('Café_Names', sort=False, as_index=False).Title.count().reset_index(drop=True)
NoR2018 = AllNames2018['Title'].tolist()

Quarter = y2018['Quarter'].tolist()

num = len(y2018)
No1 = []
No2 =[]
No3 =[]
No4 =[]

for i in range(0, num):
    if Quarter[i] == 1:
        No1.append(i)
    if Quarter[i] == 2:
        No2.append(i)
    if Quarter[i] == 3:
        No3.append(i)
    if Quarter[i] == 4:
        No4.append(i)
        
#creating databases based on the quarter

q1 = pd.DataFrame(y2018.iloc[No1])
q2 = pd.DataFrame(y2018.iloc[No2])
q3 = pd.DataFrame(y2018.iloc[No3])
q4 = pd.DataFrame(y2018.iloc[No4])

# Quarter 1

AllNames1 = q1.groupby('Café_Names', sort=False, as_index=False).Title.count().reset_index(drop=True)
NoR1 = AllNames1['Title'].tolist()

Q1YN =[]
names = AllNames2018['Café_Names'].tolist()
names1 = AllNames1['Café_Names'].tolist()

for i in names:
    if i in names1:
        Q1YN.append("Yes")
    else:
        Q1YN.append("")

polarity = q1['polarity'].tolist()        
num = len(NoR2018)
pos = 0
poss = 0
counta = 0
total = float(0)
average = float(0)
avg1 = []

for i in range (0, num):
    if Q1YN[i] == "Yes":
        pos = pos + NoR1[counta]
        total = 0
        average = 0
        for x in range(poss, pos):
            total = total + polarity[x]
        average = total / NoR1[counta]
        avg1.append(average)
        poss = pos
        counta = counta + 1
    else:
        avg1.append(0)
        
Avg_Q1 = pd.Series(avg1)       
AllNames2018['Q1_Average_Polarity'] = Avg_Q1.values

In [3]:
# Quarter 2

AllNames2 = q2.groupby('Café_Names', sort=False, as_index=False).Title.count().reset_index(drop=True)
NoR2 = AllNames2['Title'].tolist()

Q2YN =[]
names = AllNames2018['Café_Names'].tolist()
names2 = AllNames2['Café_Names'].tolist()

for i in names:
    if i in names2:
        Q2YN.append("Yes")
    else:
        Q2YN.append("")

polarity = q2['polarity'].tolist()        
num = len(NoR2018)
pos = 0
poss = 0
counta = 0
total = float(0)
average = float(0)
avg2 = []

for i in range (0, num):
    if Q2YN[i] == "Yes":
        pos = pos + NoR2[counta]
        total = 0
        average = 0
        for x in range(poss, pos):
            total = total + polarity[x]
        average = total / NoR2[counta]
        avg2.append(average)
        poss = pos
        counta = counta + 1
    else:
        avg2.append(0)
        
Avg_Q2 = pd.Series(avg2)       
AllNames2018['Q2_Average_Polarity'] = Avg_Q2.values

In [4]:
# Quarter 3

AllNames3 = q3.groupby('Café_Names', sort=False, as_index=False).Title.count().reset_index(drop=True)
NoR3 = AllNames3['Title'].tolist()

Q3YN =[]
names = AllNames2018['Café_Names'].tolist()
names3 = AllNames3['Café_Names'].tolist()

for i in names:
    if i in names3:
        Q3YN.append("Yes")
    else:
        Q3YN.append("")

polarity = q3['polarity'].tolist()        
num = len(NoR2018)
pos = 0
poss = 0
counta = 0
total = float(0)
average = float(0)
avg3 = []

for i in range (0, num):
    if Q3YN[i] == "Yes":
        pos = pos + NoR3[counta]
        total = 0
        average = 0
        for x in range(poss, pos):
            total = total + polarity[x]
        average = total / NoR3[counta]
        avg3.append(average)
        poss = pos
        counta = counta + 1
    else:
        avg3.append(0)
        
Avg_Q3 = pd.Series(avg3)       
AllNames2018['Q3_Average_Polarity'] = Avg_Q3.values

In [5]:
# Quarter 4

AllNames4 = q4.groupby('Café_Names', sort=False, as_index=False).Title.count().reset_index(drop=True)
NoR4 = AllNames4['Title'].tolist()

Q4YN =[]
names = AllNames2018['Café_Names'].tolist()
names4 = AllNames4['Café_Names'].tolist()

for i in names:
    if i in names4:
        Q4YN.append("Yes")
    else:
        Q4YN.append("")

polarity = q4['polarity'].tolist()        
num = len(NoR2018)
pos = 0
poss = 0
counta = 0
total = float(0)
average = float(0)
avg4 = []

for i in range (0, num):
    if Q4YN[i] == "Yes":
        pos = pos + NoR4[counta]
        total = 0
        average = 0
        for x in range(poss, pos):
            total = total + polarity[x]
        average = total / NoR4[counta]
        avg4.append(average)
        poss = pos
        counta = counta + 1
    else:
        avg4.append(0)
        
Avg_Q4 = pd.Series(avg4)       
AllNames2018['Q4_Average_Polarity'] = Avg_Q4.values

In [8]:
AllNames2018.columns = ['Café_Names', 'Count','Q1_Average_Polarity', 'Q2_Average_Polarity','Q3_Average_Polarity', 'Q4_Average_Polarity']

ex = pd.ExcelWriter('(TP) 2018_Average Sentiment by Quarter.xlsx', options={'encoding':'utf-8'})
AllNames2018.to_excel(ex, 'Data', index=False)

In [6]:
AllNames2018

,Café_Names,Title,Q1_Average_Polarity,Q2_Average_Polarity,Q3_Average_Polarity,Q4_Average_Polarity
0,The Populus Coffee & Food Co.,29,0.393298,0.276768,0,0
1,Xiao Ya Tou,17,0.205050,0.056250,0,0
2,Bearded Bella,48,0.209596,0.087868,0,0
3,The Lokal,10,0.240747,0.000404,0,0
4,Chong Wen Ge Cafe 崇文阁,5,0.260714,0.217063,0,0
5,Common Man Stan,15,0.193675,0.160833,0,0
6,Lunar Coffee Brewers,12,0.291833,0.108494,0,0
7,Guac & Go,4,0.370833,0.318333,0,0
8,1KS,4,0.000000,0.186736,0,0
9,Well Dressed Salad Bar & Cafe,2,0.302500,0.275000,0,0
10,Group Therapy (Duxton),10,0.266762,0.254708,0,0
11,VENUE by Sebastian,23,0.225680,0.274565,0,0
12,NINJA BOWL,8,0.004444,0.278333,0,0
13,Mavrx Coffee Apothecary,1,0.000000,0.000000,0,0
14,My Awesome Cafe,1,0.500000,0.000000,0,0
15,Café & Bar Gavroche,1,0.000000,0.000000,0,0
16,JAPAN RAIL CAFE,3,-0.450000,0.110648,0,0
17,Dapper Coffee,5,0.204167,0.000000,0,0
18,Nylon Coffee Roasters,3,0.366667,0.163528,0,0
19,5 The Moments,13,0.022222,0.107915,0,0
20,Eight Cafe & Bar,1,0.000000,0.254444,0,0
21,Pantler,15,0.188746,0.133671,0,0
22,Luxe,3,0.001111,0.000000,0,0
23,PS.Cafe (Ann Siang Hill),2,0.250000,0.073214,0,0
24,The Sandwich Shop (Robinson Centre),1,0.000000,0.064286,0,0
25,Orchid Cafe (Orchid Hotel),3,0.263974,0.236979,0,0
26,Just Want Coffee,1,0.000000,0.555556,0,0
27,Drury Lane (Tanjong Pagar),3,0.219722,0.062500,0,0
28,Hattendo Cafe,6,0.233720,0.106398,0,0
29,Royz et Vous (Telok Ayer),2,0.000000,0.498929,0,0
30,Coffee Break (Amoy Street Food Centre),6,0.239481,0.243750,0,0
31,Jewel Coffee (Tanjong Pagar Centre),3,0.056250,-0.500000,0,0
32,Hustle Co,10,0.192734,0.000000,0,0
33,Bingki Korean Dessert Cafe,2,-0.075000,0.000000,0,0
34,Harvestry,3,0.000000,0.080110,0,0
35,Epiphyte,1,-0.150000,0.000000,0,0
36,Omotesando Koffee,5,0.325529,0.156044,0,0
37,Pickleville,6,0.147536,0.000000,0,0
38,Alchemist (International Plaza),1,0.254167,0.000000,0,0
39,Huggs Cafe (Cecil Street),1,1.000000,0.000000,0,0
40,Merchants Wine Cellar & Store (Duxton Hill),1,1.000000,0.000000,0,0
41,Ah Seng (Hai Nam) Coffee (Amoy Street Food Cen...,2,0.188690,0.101429,0,0
42,The Autobus,2,0.095833,0.000000,0,0
43,Joe & Dough (Capital Tower),1,0.000000,-0.085714,0,0
44,Costa Coffee (Sofitel So Singapore),2,0.650000,0.000000,0,0
45,Trung Nguyen Coffee (International Plaza),1,0.350000,0.000000,0,0
46,Ash & Char,1,0.000000,0.411111,0,0
47,Rookery (Capital Tower),1,0.374351,0.000000,0,0
48,Patisserie G (Downtown Gallery),3,0.195833,0.000000,0,0
49,The Providore (Downtown Gallery),8,0.426657,0.000000,0,0
50,Starbucks (Capital Tower),2,-0.300000,0.000000,0,0

In [127]:
y2018[y2018['Café_Names'].str.contains("Costa Coffee")]

,Café_Names,Date,Title,Review,Cleaned_Reviews,polarity,subjectivity,Formated_Date,Quarter,Year
1052,Costa Coffee (Sofitel So Singapore),"Nov 27, 2016",Enjoying a Flat White and toasted Turkey Ham &...,#burpple,NaN,0.0,0.0,2016-11-27,4,2016

In [87]:
AllNames1

,Café_Names,Title,Q1_Average_Polarity
0,The Populus Coffee & Food Co.,70,0.226939
1,The Lokal,40,0.000000
2,Guac & Go,1,0.000000
3,Well Dressed Salad Bar & Cafe,1,0.192901
4,Group Therapy (Duxton),3,0.000000
5,Mavrx Coffee Apothecary,3,0.000000
6,My Awesome Cafe,2,0.000000
7,Dapper Coffee,9,0.350000
8,Nylon Coffee Roasters,4,0.000000
9,5 The Moments,1,0.530000
10,Eight Cafe & Bar,1,0.199405
11,Pantler,9,0.000000
12,Luxe,6,0.000000
13,PS.Cafe (Ann Siang Hill),2,0.276389
14,Orchid Cafe (Orchid Hotel),1,0.000000
15,Good Morning Nanyang Cafe 早安南洋 (Maxwell Chambers),1,0.000000
16,Drury Lane (Tanjong Pagar),6,0.000000
17,Royz et Vous (Telok Ayer),2,0.204902
18,Coffee Break (Amoy Street Food Centre),1,0.087500
19,The White Rocket,2,0.142857
20,Bingki Korean Dessert Cafe,5,0.125000
21,Merchants Wine Cellar & Store (Duxton Hill),1,0.177280
22,Tom N Toms Coffee,2,0.120939
23,Joe & Dough (Capital Tower),7,0.000000
24,6oz Espresso Bar (Tokio Marine Centre),1,0.441667
25,Kanoom - Little Thai Cafe,1,0.000000
26,Urban Fairways,7,0.000000
27,Trung Nguyen Coffee (International Plaza),3,0.000000
28,Coffee & Toast (Tanjong Pagar Xchange),1,0.000000
29,The New Harbour Café & Bar,1,0.037500
30,Socks & Pans,2,0.344365
31,Starbucks (Capital Tower),1,0.000000